# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:EntityAbygolem=false
    B:EntityAbyssalZombie=false
    B:EntityAerwhale=false
    B:EntityAngler=false
    B:EntityAshen=false
    B:EntityBabyHeatscarSpider=false
    B:EntityBarbarian=false
    B:EntityBasalz=false
    B:EntityBlackDog=false
    B:EntityBlaze=false
    B:EntityBlitz=false
    B:EntityBlizz=false
    B:EntityBloodSnail=false
    B:EntityBlueSlime=false
    B:EntityBoulderSprite=false
    B:EntityBrigand=false
    B:EntityCalpod=false
    B:EntityCaveSpider=false
    B:EntityChagarothFist=false
    B:EntityChagarothSpawn=false
    B:EntityChiromaw=false
    B:EntityCockatrice=false
    B:EntityCreeper=false
    B:EntityCryptkeeper=false
    B:EntityDarkDruid=false
    B:EntityDemonChicken=false
    B:EntityDemonCow=false
    B:EntityDemonPig=false
    B:EntityDemonSheep=false
    B:EntityDepthsGhoul=false
    B:EntityDreadSpawn=false
    B:EntityDreadgolem=false
    B:EntityDreadguard=false
    B:EntityDreadling=false
    B:EntityDruden=false
    B:EntityDweller=false
    B:EntityElderGuardian=false
    B:EntityEnderman=false
    B:EntityEttin=false
    B:EntityEvilChicken=false
    B:EntityEvilCow=false
    B:EntityEvilSheep=false
    B:EntityEvilpig=false
    B:EntityFeuerwurm=false
    B:EntityForsaken=false
    B:EntityGasCloud=false
    B:EntityGeist=false
    B:EntityGhast=false
    B:EntityGhost=false
    B:EntityGhoul=false
    B:EntityGorgomite=false
    B:EntityGreaterDreadSpawn=false
    B:EntityGuardian=false
    B:EntityHeatscarSpider=false
    B:EntityHellhound=false
    B:EntityHusk=false
    B:EntityKrake=false
    B:EntityLeech=false
    B:EntityLesserShoggoth=false
    B:EntityLobber=false
    B:EntityLurker=false
    B:EntityMagmaCube=false
    B:EntityMimic=false
    B:EntityMonolith=false
    B:EntityMummy=false
    B:EntityNitroCreeper=false
    B:EntityNomad=false
    B:EntityPigZombie=false
    B:EntityPirate=false
    B:EntityRemnant=false
    B:EntityShambler=false
    B:EntityShubOffspring=false
    B:EntitySilverfish=false
    B:EntitySkeleton=false
    B:EntitySkeletonGoliath=false
    B:EntitySlime=false
    B:EntitySludgeling=false
    B:EntitySpider=false
    B:EntitySpiritTreeFaceLarge=false
    B:EntitySpiritTreeFaceSmall=false
    B:EntityStoneguard=false
    B:EntityStray=false
    B:EntitySunSpirit=false
    B:EntitySwampHag=false
    B:EntityTFAdherent=false
    B:EntityTFArmoredGiant=false
    B:EntityTFDeathTome=false
    B:EntityTFHarbingerCube=false
    B:EntityTFKobold=false
    B:EntityTFNaga=false
    B:EntityTFRedcap=false
    B:EntityTFSkeletonDruid=false
    B:EntityTFSwarmSpider=false
    B:EntityTFTroll=false
    B:EntityTFYeti=false
    B:EntityTarBeast=false
    B:EntityTarSlime=false
    B:EntityTarantula=false
    B:EntityTreant=false
    B:EntityValkyrie=false
    B:EntityValkyrieQueen=false
    B:EntityVespid=false
    B:EntityWasp=false
    B:EntityWendigo=false
    B:EntityWhirlwind=false
    B:EntityWight=false
    B:EntityWitch=false
    B:EntityWitherSkeleton=false
    B:EntityWraith=false
    B:EntityZephyr=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
    B:MoCEntityCaveOgre=false
    B:MoCEntityFireOgre=false
    B:MoCEntityFlameWraith=false
    B:MoCEntityGolem=false
    B:MoCEntityGreenOgre=false
    B:MoCEntityHellRat=false
    B:MoCEntityHorseMob=false
    B:MoCEntityManticore=false
    B:MoCEntityMiniGolem=false
    B:MoCEntityRat=false
    B:MoCEntityScorpion=false
    B:MoCEntitySilverSkeleton=false
    B:MoCEntityWWolf=false
    B:MoCEntityWerewolf=false
    B:MoCEntityWraith=false
}


entitybasehealth {
    D:AS_EntityGolem=200.0
    D:EntityAbygolem=20.0
    D:EntityAbyssalZombie=25.0
    D:EntityAngler=20.0
    D:EntityAshen=20.0
    D:EntityBabyHeatscarSpider=16.0
    D:EntityBarbarian=18.0
    D:EntityBasalz=20.0
    D:EntityBlackDog=15.0
    D:EntityBlaze=20.0
    D:EntityBlitz=20.0
    D:EntityBlueSlime=1.0
    D:EntityBoulderSprite=50.0
    D:EntityBrigand=18.0
    D:EntityCaveSpider=12.0
    D:EntityChagarothFist=50.0
    D:EntityChiromaw=10.0
    D:EntityCreeper=20.0
    D:EntityCryptkeeper=20.0
    D:EntityDemonChicken=10.0
    D:EntityDemonPig=15.0
    D:EntityDemonSheep=12.0
    D:EntityDepthsGhoul=30.0
    D:EntityDreadSpawn=20.0
    D:EntityDreadgolem=20.0
    D:EntityDreadguard=120.0
    D:EntityDreadling=30.0
    D:EntityDruden=35.0
    D:EntityDweller=20.0
    D:EntityElderGuardian=80.0
    D:EntityEnderman=40.0
    D:EntityEttin=24.0
    D:EntityEvilChicken=10.0
    D:EntityEvilCow=15.0
    D:EntityEvilSheep=12.0
    D:EntityEvilpig=15.0
    D:EntityFeuerwurm=15.0
    D:EntityGeist=12.0
    D:EntityGhost=10.0
    D:EntityGhoul=12.0
    D:EntityGorgomite=4.0
    D:EntityGuardian=30.0
    D:EntityHusk=20.0
    D:EntityKrake=8.0
    D:EntityLesserShoggoth=50.0
    D:EntityLobber=32.0
    D:EntityLurker=55.0
    D:EntityMagmaCube=1.0
    D:EntityMimic=40.0
    D:EntityNitroCreeper=20.0
    D:EntityNomad=13.0
    D:EntityPigZombie=20.0
    D:EntityPirate=20.0
    D:EntitySkeleton=20.0
    D:EntitySkeletonGoliath=100.0
    D:EntitySlime=4.0
    D:EntitySludgeling=7.0
    D:EntitySpider=16.0
    D:EntitySunSpirit=50.0
    D:EntitySwampHag=40.0
    D:EntityTFDeathTome=30.0
    D:EntityTFKobold=13.0
    D:EntityTFSwarmSpider=3.0
    D:EntityTFYeti=20.0
    D:EntityTarSlime=1.0
    D:EntityTarantula=15.0
    D:EntityWasp=10.0
    D:EntityWendigo=32.0
    D:EntityWight=76.0
    D:EntityWitch=26.0
    D:EntityWitherSkeleton=20.0
    D:EntityZombie=20.0
    D:EntityZombieVillager=20.0
    D:MoCEntityCaveOgre=50.0
    D:MoCEntityFireOgre=35.0
    D:MoCEntityFlameWraith=15.0
    D:MoCEntityGreenOgre=35.0
    D:MoCEntityHellRat=20.0
    D:MoCEntityHorseMob=30.0
    D:MoCEntityManticore=40.0
    D:MoCEntityMiniGolem=15.0
    D:MoCEntityRat=10.0
    D:MoCEntityScorpion=18.0
    D:MoCEntitySilverSkeleton=25.0
    D:MoCEntityWWolf=15.0
    D:MoCEntityWerewolf=40.0
    D:MoCEntityWraith=10.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=false
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=false
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=false
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=false
    B:"MM_Wither enabled"=true

    # List of DimensionIDs where InfernalMobs will NEVER spawn
    S:dimensionIDBlackList=

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:EntityAbygolem=true
    B:EntityAbyssalZombie=true
    B:EntityAerwhale=true
    B:EntityAngler=true
    B:EntityAshen=true
    B:EntityBabyHeatscarSpider=true
    B:EntityBarbarian=true
    B:EntityBasalz=true
    B:EntityBlackDog=true
    B:EntityBlaze=true
    B:EntityBlitz=true
    B:EntityBlizz=true
    B:EntityBloodSnail=true
    B:EntityBlueSlime=true
    B:EntityBoulderSprite=true
    B:EntityBrigand=true
    B:EntityCalpod=true
    B:EntityCaveSpider=true
    B:EntityChagarothFist=true
    B:EntityChagarothSpawn=true
    B:EntityChiromaw=true
    B:EntityCockatrice=true
    B:EntityCreeper=true
    B:EntityCryptkeeper=true
    B:EntityDarkDruid=true
    B:EntityDemonChicken=true
    B:EntityDemonCow=true
    B:EntityDemonPig=true
    B:EntityDemonSheep=true
    B:EntityDepthsGhoul=true
    B:EntityDreadSpawn=true
    B:EntityDreadgolem=true
    B:EntityDreadguard=true
    B:EntityDreadling=true
    B:EntityDruden=true
    B:EntityDweller=true
    B:EntityElderGuardian=true
    B:EntityEnderman=true
    B:EntityEttin=true
    B:EntityEvilChicken=true
    B:EntityEvilCow=true
    B:EntityEvilSheep=true
    B:EntityEvilpig=true
    B:EntityFeuerwurm=true
    B:EntityForsaken=true
    B:EntityGasCloud=true
    B:EntityGeist=true
    B:EntityGhast=true
    B:EntityGhost=true
    B:EntityGhoul=true
    B:EntityGorgomite=true
    B:EntityGreaterDreadSpawn=true
    B:EntityGuardian=true
    B:EntityHeatscarSpider=true
    B:EntityHellhound=true
    B:EntityHusk=true
    B:EntityKrake=true
    B:EntityLeech=true
    B:EntityLesserShoggoth=true
    B:EntityLobber=true
    B:EntityLurker=true
    B:EntityMagmaCube=true
    B:EntityMimic=true
    B:EntityMonolith=true
    B:EntityMummy=true
    B:EntityNitroCreeper=true
    B:EntityNomad=true
    B:EntityPigZombie=true
    B:EntityPirate=true
    B:EntityRemnant=true
    B:EntityShambler=true
    B:EntityShubOffspring=true
    B:EntitySilverfish=true
    B:EntitySkeleton=true
    B:EntitySkeletonGoliath=true
    B:EntitySlime=true
    B:EntitySludgeling=true
    B:EntitySpider=true
    B:EntitySpiritTreeFaceLarge=true
    B:EntitySpiritTreeFaceSmall=true
    B:EntityStoneguard=true
    B:EntityStray=true
    B:EntitySunSpirit=true
    B:EntitySwampHag=true
    B:EntityTFAdherent=true
    B:EntityTFArmoredGiant=true
    B:EntityTFDeathTome=true
    B:EntityTFHarbingerCube=true
    B:EntityTFKobold=true
    B:EntityTFNaga=true
    B:EntityTFRedcap=true
    B:EntityTFSkeletonDruid=true
    B:EntityTFSwarmSpider=true
    B:EntityTFTroll=true
    B:EntityTFYeti=true
    B:EntityTarBeast=true
    B:EntityTarSlime=true
    B:EntityTarantula=true
    B:EntityTreant=true
    B:EntityValkyrie=true
    B:EntityValkyrieQueen=true
    B:EntityVespid=true
    B:EntityWasp=true
    B:EntityWendigo=true
    B:EntityWhirlwind=true
    B:EntityWight=true
    B:EntityWitch=true
    B:EntityWitherSkeleton=true
    B:EntityWraith=true
    B:EntityZephyr=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
    B:MoCEntityCaveOgre=true
    B:MoCEntityFireOgre=true
    B:MoCEntityFlameWraith=true
    B:MoCEntityGolem=true
    B:MoCEntityGreenOgre=true
    B:MoCEntityHellRat=true
    B:MoCEntityHorseMob=true
    B:MoCEntityManticore=true
    B:MoCEntityMiniGolem=true
    B:MoCEntityRat=true
    B:MoCEntityScorpion=true
    B:MoCEntitySilverSkeleton=true
    B:MoCEntityWWolf=true
    B:MoCEntityWerewolf=true
    B:MoCEntityWraith=true
}


